<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>bank_thor_v2</display-name>
  <welcome-file-list>
    <welcome-file>welcome.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>BankCrudController</display-name>
    <servlet-name>BankCrudController</servlet-name>
    <servlet-class>com.bank.controller.BankCrudController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BankCrudController</servlet-name>
    <url-pattern>/bank</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerLoginController</display-name>
    <servlet-name>CustomerLoginController</servlet-name>
    <servlet-class>com.bank.controller.CustomerLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerLoginController</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SuccessController</display-name>
    <servlet-name>SuccessController</servlet-name>
    <servlet-class>com.bank.controller.SuccessController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuccessController</servlet-name>
    <url-pattern>/success</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrationsuccessController</display-name>
    <servlet-name>RegistrationsuccessController</servlet-name>
    <servlet-class>com.bank.controller.RegistrationsuccessController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationsuccessController</servlet-name>
    <url-pattern>/rsuccess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.bank.controller.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountController</display-name>
    <servlet-name>AccountController</servlet-name>
    <servlet-class>com.bank.controller.AccountController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountController</servlet-name>
    <url-pattern>/account</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TransactionController</display-name>
    <servlet-name>TransactionController</servlet-name>
    <servlet-class>com.bank.controller.TransactionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransactionController</servlet-name>
    <url-pattern>/transaction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountP</display-name>
    <servlet-name>AccountP</servlet-name>
    <servlet-class>com.bank.controller.AccountP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountP</servlet-name>
    <url-pattern>/create</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountS</display-name>
    <servlet-name>AccountS</servlet-name>
    <servlet-class>com.bank.controller.AccountS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountS</servlet-name>
    <url-pattern>/successa</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DepositController</display-name>
    <servlet-name>DepositController</servlet-name>
    <servlet-class>com.bank.controller.DepositController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepositController</servlet-name>
    <url-pattern>/deposit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TransactionSuccess</display-name>
    <servlet-name>TransactionSuccess</servlet-name>
    <servlet-class>com.bank.controller.TransactionSuccess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransactionSuccess</servlet-name>
    <url-pattern>/successt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WithdrawController</display-name>
    <servlet-name>WithdrawController</servlet-name>
    <servlet-class>com.bank.controller.WithdrawController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WithdrawController</servlet-name>
    <url-pattern>/withdraw</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WithdrawSuccess</display-name>
    <servlet-name>WithdrawSuccess</servlet-name>
    <servlet-class>com.bank.controller.WithdrawSuccess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WithdrawSuccess</servlet-name>
    <url-pattern>/successw</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeLogin</display-name>
    <servlet-name>EmployeeLogin</servlet-name>
    <servlet-class>com.bank.controller.EmployeeLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeLogin</servlet-name>
    <url-pattern>/employees</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeLoginController</display-name>
    <servlet-name>EmployeeLoginController</servlet-name>
    <servlet-class>com.bank.controller.EmployeeLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeLoginController</servlet-name>
    <url-pattern>/employee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllTransactions</display-name>
    <servlet-name>AllTransactions</servlet-name>
    <servlet-class>com.bank.controller.AllTransactions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllTransactions</servlet-name>
    <url-pattern>/all</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountByUserId</display-name>
    <servlet-name>AccountByUserId</servlet-name>
    <servlet-class>com.bank.controller.AccountByUserId</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountByUserId</servlet-name>
    <url-pattern>/userid</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StatementController</display-name>
    <servlet-name>StatementController</servlet-name>
    <servlet-class>com.bank.controller.StatementController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StatementController</servlet-name>
    <url-pattern>/statement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeLogout</display-name>
    <servlet-name>EmployeeLogout</servlet-name>
    <servlet-class>com.bank.controller.EmployeeLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeLogout</servlet-name>
    <url-pattern>/elogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAccount</display-name>
    <servlet-name>DeleteAccount</servlet-name>
    <servlet-class>com.bank.controller.DeleteAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAccount</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
</web-app>